.ant-card{
    width: 230px;
}
.ant-card-body{
    width: 100%;
    padding: 20px 5%;
}
.ant-card-meta-title{
    height: auto;
}
@media only screen and (max-width: 500px){
    .spv{
        display:flex;
        flex-direction: column !important;
        
    }
}

