@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
footer{
height: auto;
width: 100%;
position: relative;
display: flex;
bottom: 0;
margin-bottom: 0px;
background-color: #FFFFFF;
justify-content: center;
/* align-items: center; */
padding:20px;
flex-wrap: wrap;
flex-shrink: 0;
font-family: "montserrat";
border-top: 1px solid #e8e8e8;

}


footer>div{
display:flex;    
flex-direction: column;
color: #4c5d7a;
/* margin: 20px 80px; */
margin:20px;
width: 300px;
text-align: center;
align-self: start;

}
footer>div:nth-child(1){
    justify-content: center;
    align-items: center;
}
footer>div:nth-child(1)>ul{
    display:flex;
    flex-direction: row;
    
    margin:0;
}
footer h5{
    font-size: 18px;
    font-family: Open sans;
    color: #4c5d7a;
}

footer li {
    font-weight:100;
    font-family: Open sans,montserrat;
    font-size: small;
    color: #4c5d7a;
    display: flex;
    flex-direction: row;
}
footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
 
}


.lead{
    font-weight: 200;
}
