ul{
    list-style: none;
    display: block;
    margin: auto;
    padding: 10px;
    width: fit-content;
}
li{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    color: #4c5d7a;;
    font-size: large;
    font-weight: 400 ;
    
}
li:hover{
    color: royalblue;
}
.nav{
    display:flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    margin:0;
    font-family: "montserrat";
    
}
/* 
.hamMenu{
    padding: 5px;
    margin: 0px;
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: white;
    z-index: 3;
    
}
.hamMenu div{
    width: 35px;
    background-color: darkslategray;
    height: 4px;
    position: relative;
    margin: 5px;
} */
.ham{
    height: 52px;
}
.nav-icon {
    height: 40px;
    width: 40px;
    padding-top:10px;
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}




.nav-icon::before,
.nav-icon::after{
    display:block;
    height: 2px;
    width: 20px;
    content: '';
    border-radius: 6px;
    background-color: goldenrod;
    margin: 3px 0px;
    transition: .2s ease-in-out;
}
.nav-icon:before{
    transform: translateY(4px) rotate(135deg) translateX(-8px);
}
.nav-icon::after{
    transform: translateY(-4px) rotate(-135deg) translateX(8px);
}

.ni{
    padding-top: 0px;
}
.ni:before,.ni:after{
    width:25px;
}

.ni:before {
    transform: translateY(4px) rotate(-135deg);
}
.ni:after {
    transform: translateY(-4px) rotate(135deg);
}

.mobile .brand a{
    line-height: 52px;
    font-size: 20px;
    display: none;
}



@media only screen and (max-width : 452px){
    .nav{
        position: fixed;
        z-index: 4;
        align-items: flex-start;
        flex-direction: column;
        
    }

    .nav li{
        display: block;
        color: black;
        padding: 10px;
        margin: 0px;
        font-family: 'montserrat';
        
    }
    .nav ul{
        margin: 0px;
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 3 ;
        transform: translateY(-130%);
        transition: transform 0.5s ease-in-out !important;
        border-bottom: 2px solid gainsboro;
    }
    .open {
        
        background-color: white;
        position: relative;
        transform: translateY(0) !important;
        transition: transform 0.5s ease-in-out !important;
    }

    .open li{
        color: black;
        width: 100%;
        margin: 0px;
        padding: 10px;
        display:inline-block
    }

   
    /* .hamMenu{
        width: 100% ;
        z-index: 300;
        display: inline-block !important;
        position: relative;
        background-color: white;
        padding: 10px;
    } */

    .mobile{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 4;
        width: 100%;
        background-color: snow;
    }
    
    
   
    .mobile .hamMenu{
        width: fit-content;
        
    }
    
    .ham{
        display:block !important;
    }

    .brand a{
        display: block !important;
    }
}